
p {
    color: black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    text-align: justify;
}

h2 {
    color: black
    text-align center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    width: 1000 px;
    margin: 0;
    border: 2 px solid black;
    
}
